*{
          margin: 0px;
          padding: 0px;
          color: rgb(253, 252, 251);
}
#back-ground{
    width: 100vw;
    height: 100vh;
    background-image: url("netflix\ background.png");
    background-image: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#center{
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    
    /* background-color: black; */
    /* padding-left: 70px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

#first-center-part{
    /* background-color: black; */
    display: flex;
    width: 700px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}
#second-center-part{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 25px;
    padding-left: 8
    0px; */
    flex-wrap: wrap;
}
#input-email{
    width:270px;
    caret-color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 4px;
    border: solid 2px rgb(0, 0, 0);
    padding-left: 10px;
    font-size: 15px;
    opacity: 30%;
}
#getstart-btn{
    width: 220px;
    height: 51px;
    border-radius: 4px;
    border: none;
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 24px;
    cursor: pointer;

}
#head-center{
    color: white;
    font-size: 57px;
    /* text-align: center;
    margin-top: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight:800;
    
}
#netflix{
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: 
}
h3{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
}
